* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: solid black 2px;
  padding: 60px;
  border-radius: 10px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.input-section {
  margin-top: 20px;
  width: 100%;
}

input {
  padding: 10px;
  font-size: 15px;
}

button {
  padding: 10px;
  border: none;
  color: white;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

.add {
  background: rgb(11, 231, 11);
  border-radius: 10px;
}

.add:hover {
  background: rgb(8, 161, 8);
}

.clear {
  background: red;
  border-radius: 10px;
}

.clear:hover {
  background: rgb(189, 3, 3);
}

.todo-list {
  /* border: 2px red solid; */
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.todo-list li {
  list-style: none;
}
